.navbar-container{
  display: flex;
  width: 100vw;
  position: fixed;
  align-items: center;
  justify-content: space-between;
  background: rgba(78, 78, 78, 0.753);
}
.app-logo{
  height:4rem;
  padding: 1rem;
  cursor: pointer;

}

.menu-list{
  display: flex;
  width: 20%;
  height: 4rem;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
}

.menu-items{
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  cursor: pointer;
}
.menu-items:hover, .app-logo:hover{
  background-color: rgb(207, 207, 207);
}